@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--text-color);
}
form {
  display: flex;
  flex-direction: column;
  /* width: 320px; */
}

.result-container {
  display: block;
}

.result-container textarea,
.result-container .image-container {
  display: block;
  box-sizing: border-box;
}

.result-container .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  border: var(--image-border);
}

.result-container .image-container img {
  max-height: calc(100vh - 60px);
}

textarea, button, img {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

form, .result-container {
  box-sizing: border-box;
}

textarea {
  padding: 10px;
}

form textarea, .result-container textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  /* background-color: var(--text-color);
  color: var(--bg-color); */
}

form button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 40px;
}

:root {
  --bg-color: #f0f0f0; /* light mode background color */
  --text-color: #333; /* light mode text color */
  --image-border: 1px solid #333; /* light mode image border */
}

.dark-mode {
  --bg-color: #333; /* dark mode background color */
  --text-color: #f0f0f0; /* dark mode text color */
  --image-border: 1px solid #f0f0f0; /* dark mode image border */
}

#theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 100px;
  background-color: var(--text-color);
  color: var(--bg-color);
}