@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: box-shadow 0.3s;
}
form {
  display: flex;
  flex-direction: column;
  /* width: 320px; */
}

.result-container {
  display: block;
}

.result-container textarea,
.result-container .image-container {
  display: block;
  box-sizing: border-box;
}

.result-container .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.result-container .image-container:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.result-container .image-container img {
  max-height: calc(100vh - 60px);
  border-radius: 2px;
}

textarea, button, img {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

form, .result-container {
  box-sizing: border-box;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px;
}

form textarea, .result-container textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, border-color 0.3s;
}

form textarea:focus {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

form button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 40px;
}

:root {
  --bg-color: #f5f2f0; /* light mode background color */
  --text-color: #272822; /* light mode text color */
  --primary-color: #272822; /* light mode primary color */
  --airplane-color: #272822;
}

.dark-mode {
  --bg-color: #272822; /* dark mode background color */
  --text-color: #f5f2f0; /* dark mode text color */
  --primary-color: #f5f2f0; /* dark mode primary color */
}

:root a {
  color: #1d4ed8; /* blue link color for light mode */
}

.dark-mode a {
  color: #60a5fa; /* blue link color for dark mode */
}


#theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 100px;
  background-color: var(--text-color);
  color: var(--bg-color);

  border: none;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-direction: row-reverse; /* Add this line */
}

.input-container,
.code-container {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

#theme-toggle:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

/* New styles for headings and form elements */
h1 {
  color: var(--primary-color);
  margin-bottom: 8px;
}

.author-credit {
  margin-bottom: 54px;
}

form textarea,
form button {
  border: 2px solid var(--primary-color);
}

form textarea:focus,
form button:focus {
  outline: none;
  border-color: var(--primary-color);
}

form button {
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

form button:hover {
  background-color: var(--primary-color);
}

.input-container {
  position: relative;
}

.submit-icon {
  position: absolute;
  top: 16px; /* this, rather than 50%, centers the icon vertically */
  right: 10px;
  font-size: 18px;
  color: var(--airplane-color);
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.submit-icon:hover {
  opacity: 1;
}

textarea[name="tikz_description"] {
  resize: none;
}

