<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TikZ Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script>
      function toggleTheme() {
        const body = document.body;
        body.classList.toggle("dark-mode");
      }
    </script>
  </head>
  <body class="light-mode">
    <button id="theme-toggle" onclick="toggleTheme()">
      <i class="fas fa-adjust"></i>
      <span>Toggle Theme</span>
    </button>
    <h1>TikZ Generator</h1>
    <form id="generate-form" action="/" method="post">
      <!-- write the tikz_description back into text area so it does not disappear when we display -->
      <div class="input-container">
        <i class="fas fa-paper-plane submit-icon"></i>
        <textarea name="tikz_description" rows="1" cols="80" placeholder="Enter your TikZ description here">{{ tikz_description }}</textarea>
      </div>
      </form>
    {% if image_data %}
        <div class="result-container">
          <textarea name="tikz_code" rows="20" cols="80">{{ tikz_code }}</textarea>
          <div class="image-container">
            <img src="data:image/png;base64,{{ image_data }}" alt="Rendered TikZ code">
          </div>
        </div>
    {% endif %}
    <script>
      const generateForm = document.getElementById('generate-form');
      const descriptionInput = document.querySelector('textarea[name="tikz_description"]');
      descriptionInput.addEventListener('keydown', (event) => {
        if (event.key === 'Enter') {
          event.preventDefault();
          generateForm.submit();
        }
      });
    </script>
  </body>
</html>
